body {
  background: #ddd;
  text-align: center;
  font: 12px Arial, Verdana, sans-serif;
}

#wrapper {
  margin: 20px auto;
  text-align: left;
  width: 500px;
  padding: 20px;
  background: #fff;
}

.slider-wrapper {
  position: relative;
  margin: 40px 0 60px 0;
}

.slider {
  width: 480px;
  height: 20px;
  display: inline-block;
  position: absolute;
}
.slider-body {
  position: absolute;
  height: 10px;
  width: 500px;
  margin: 5px 0 0;
  background: #ccc;
  border-radius: 5px;
}
.current-value {
  color: #555;
  font-size: 13px;
  margin: 0 0 5px 0;
}

.ui-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  outline: none; /* Get rid of ugly Safari/Chrome outlines around handle links */
  border-radius: 5px;
}

.display-area {
  color: #222;
  font-style: italic;
}

.options i {
  font-weight: bold;
}
